include _includes/shared
extends layout

block content
  h2 Loc8r - Location List
  #location-list
    .error= message
    each location in locations
      .location
        .badge= location.distance
        h4
          a(href="/location/"+location._id)= location.name
            small.stars(data-star-rating=location.rating)
              +rating(location.rating)
              
        .address= location.address
        .description= location.description
        .labels
          each facility in location.facilities
            span.label(class=facility)
              span.fa(class=facilityIcons[facility.trim()])
          - if (location.priceTier)
            span.label.fa.price
              - for (var i = 0; i < location.priceTier; i++)
                span.fa.fa-usd

  #sidebar
    p.about Loc8r is awesome because it lets you steal wifi from wherever you want. It's crowdsourced and synergized and all sorts of web tech buzzwords. Try today. Follow us on Twitter.

