include _includes/shared
extends layout

block content
  h2 Loc8r - Location Detail
  #location-info
    h1= location.name
      small.stars
        +rating location.rating
    #hours
      h3 Hours
      each hourset in location.hours
        .hourset
          .days= hourset.days
          .hours= hourset.hours
    #facilities
      h3 Facilities
      each facility in location.facilities
        .facility(class=facility)
          span.fa(class=facilityIcons[facility])
          span.facility-label= facility
      - if (location.priceTier)
        .facility.price
          span.price-icon
            - for (var i = 0; i < location.priceTier; i++)
              span.fa.fa-usd
          span.facility-label= location.priceTier
  #location-sidebar
    #location-map
      img(src="http://maps.googleapis.com/maps/api/staticmap?center=#{location.gps.lat},#{location.gps.lng}&zoom=17&size=400x350&sensor=false&markers=#{location.gps.lat},#{location.gps.lng}&scale=2")
    #address= location.address
  #location-reviews
    each review in location.reviews
      .review
        .rating.stars
          +rating(review.rating)
        .name= review.name
        .date= review.date
        .review-content= review.review

  #add-review
    a(href="/location/review/new" method="POST")
      button Add a review for #{location.name}!

